* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

$whitecolor : white;

@mixin displayFlex {
    display: flex;
}

.hero-section {
    @include displayFlex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading1 {
    font-size: 48px;
    line-height: 54px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
}

.heading2 {
    font-size: 38px;
    line-height: 54px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
}

.sign-in-page {
    @include displayFlex;
    width: 700px;
    height: 600px;
    background-color: $whitecolor;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.sign-in-page-container {
    @include displayFlex;
    width: 70%;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .button-container {
        @include displayFlex;
        width: 100%;
        height: 15%;
        justify-content: space-around;

        button {
            background-color: #196ae5;
            border: none;
            border-radius: 8px;
            padding: 16px 24px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 1.25px;
            font-weight: 600;
            text-transform: uppercase;
            color: white;
        }

    }

    .input-feild {
        @include displayFlex;
        width: 100%;
        height: 25%;
        flex-direction: column;

        input {
            width: 100%;
            height: 60%;
            border: none;
            background-color: #f4f8f7;
            font-size: x-large;
            padding-left: 10px;
            outline: none;
        }
    }
}

.error {
    @include displayFlex;
    width: 100%;
    height: 40%;
    color: red;
    align-items: center;
    background-color: $whitecolor;
}

@media only screen and (max-width: 730px) {
    .sign-in-page {
        width: 90vw;
        height: 100vh;
    }
}

@media only screen and (max-width: 415px) {

    .sign-in-page-container {    
        .button-container {    
            button {
                padding: 16px 4px;
            }
    
        }
    
    }
    
}