<%= stylesheet_link_tag "error_page", media: "all", "data-turbo-track" => "reload" %>

<div id="heroSection" class="hero-section ">
    <img alt="" srcSet="https://img.freepik.com/free-vector/404-error-with-tired-person-concept-illustration_114360-7879.jpg?t=st=1684915965~exp=1684916565~hmac=da240731c942ae532829c01c4211509604c565b7a3287becd5d790490c508757" />
    <button onClick="goToHome()" > go to home page</button>  
</div>   
<%= javascript_include_tag "error_page","data-turbo-track" => "reload" %>