<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= stylesheet_link_tag "allproduct", media: "all", "data-turbo-track" => "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="heroSection" class="hero-section ">
        <div class="navbar allProductNavBar">
            <img src="https://www.edesk.com/wp-content/uploads/2020/05/Biggest-online-marketplaces-in-the-world.jpg"
                height="80%" alt="">
                
            <% if cookies[:role] == "admin" %>
                <div>
                    <button style="background-color: #196ae5;" onclick="goToNewProduct()">Add new product</button>
                </div>
            <% end %>

            <div>
                <button style="background-color: #196ae5;" onclick="handleCart()"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b> cart</b></button>
                
                <% if cookies[:token] %>
                    <button onclick="handleLogout()" >Logout</button>
                <% else %>
                    <button onclick="handleLogin()" style="background-color: #196ae5;">Login</button>
                <% end %>

            </div>
        </div>
        <div class="search-bar">
            <input type="text" name="" id="searchCategories" placeholder="search categories">
            <select id="choosePrice">
                <option disabled selected value="">--choose price option--</option>
                <option value="asce">low to high</option>
                <option value="desc">high to low</option>
            </select>
            <select id="chooseRating">
                <option disabled selected value="">--choose rating option--</option>
                <option value="0">above 0</option>
                <option value="1">above 1</option>
                <option value="2">above 2</option>
                <option value="3">above 3</option>
                <option value="4">above 4</option>
            </select>
        </div>
        <%= render partial: "allproducts/partials/productcard"%>
    </div>
    <%= javascript_include_tag "allproductsjs","data-turbo-track" => "reload" %>
</body>

</html>