* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
   background-color: #f4f8f7;
   box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
}
.navbar button {
   background-color: red;
   border: none;
   border-radius: 8px;
   padding: 10px 24px;
   color: white;
   display: inline-block;
   text-align: center;
   cursor: pointer;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 1.25px;
   font-weight: 500;
   text-transform: uppercase;
   margin: 10px 0;
}

.add_new_product {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_new_product_container {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding-top: 50px;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
}

.add_new_product_container .input-feild {
    width: 80%;
    height: 10%;
}

.add_new_product_container .button-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-feild {
    background-color: #f4f8f7;
}

.input-feild input {
    width: 100%;
    height: 60%;
    border: none;
    background-color: #f4f8f7;
    font-size: x-large;
    padding-left: 10px;
}

.error {
    width: 100%;
    height: 40%;
    color: red;
    display: flex;
    align-items: center;
    background-color: white;
}

.button-container {
    justify-content: space-around;
}

.button-container button {
    background-color: #196ae5;
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

@media only screen and (max-width: 430px) {
    .navbar {
        padding-left: 10px;
        padding-right: 2px;
    }
}