* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f2f2f2;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar,
.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
    background-color: #f4f8f7;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
}

.navbar button {
    background-color: red;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0;
}

.search-bar input,
.search-bar select {
    height: 50px;
    width: 200px;
    border: none;
    padding-left: 10px;
    background-color: white;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.display-product {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.titleSection {
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 20px;
    letter-spacing: .25px;
    font-weight: 600;
    line-height: 28px;
}

.categorySection {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20rem;
    height: 30rem;
    margin: 20px;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorySection .price {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .25px;
    color: rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonSection {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.buttonSection button {
    border: none;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #196ae5;
    padding: 15px 10px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 600;
    color: white;
}

.errorPageButton {
    background-color: #196ae5;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media only screen and (max-width: 730px) {
    .search-bar {
        height: 25%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .display-product {
        height: 65%;
    }
}

@media only screen and (max-width: 650px) {

    .allProductNavBar img,
    .allProductNavBar div {
        width: 30%;
        margin: 0;
        padding: 0;
    }

    .allProductNavBar div button {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .allProductNavBar {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 430px) {
    .navbar {
        padding-left: 10px;
        padding-right: 2px;
    }
}

::-webkit-scrollbar {
    display: none;
}