 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
 }

 .hero-section {
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .search-bar,
 .navbar {
     width: 100%;
     height: 10%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-left: 50px;
     padding-right: 50px;
 }

 .add-rating {
     width: 100%;
     height: 90%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .add_rating_container {
     width: 50%;
     height: 70%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     border-radius: 8px;
     box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);

 }

 .add_rating_container .input-feild {
     width: 70%;
     height: 10%;
 }

 .add_rating_container .img-feild {
     height: 50%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .add_new_product {
     width: 100%;
     height: 90%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .add_new_product_container {
     width: 50%;
     height: 95%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     border-radius: 8px;
     padding-top: 50px;
     box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
 }

 .add_new_product_container .input-feild {
     width: 80%;
     height: 10%;
 }

 .add_new_product_container .button-container {
     width: 100%;
     height: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .search-bar input,
 .search-bar select {
     height: 50px;
     width: 200px;
     border: none;
     padding-left: 10px;
     background-color: #EFEFEF;
     font-size: 16px;
     line-height: 16px;
     letter-spacing: 0.4px;
 }

 .navbar {
     background-color: #f4f8f7;
     box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
 }

 .navbar button {
     background-color: red;
     border: none;
     border-radius: 8px;
     padding: 10px 24px;
     color: white;
     display: inline-block;
     text-align: center;
     cursor: pointer;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 1.25px;
     font-weight: 500;
     text-transform: uppercase;
     margin: 10px 0;
 }

 .display-product {
     width: 100%;
     height: 80%;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     overflow-y: scroll;
 }

 .card {
     width: 18rem;
     height: 30rem;
     margin: 20px;
     box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
     padding: 10px;
     border-radius: 10px;
 }

 .titleSection {
     width: 100%;
     height: 25%;
     text-align: center;
     font-size: 20px;
     letter-spacing: .25px;
     font-weight: 600;
     line-height: 28px;
 }

 .categorySection {
     width: 100%;
     height: 15%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

 }

 .categorySection .price {
     font-size: 14px;
     line-height: 21px;
     letter-spacing: .25px;
     color: rgba(0, 0, 0, 0.6);
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .buttonSection {
     width: 100%;
     height: 20%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-left: 10px;
 }

 .buttonSection button {
     border: none;
     border-radius: 8px;
     padding: 4px 8px;
     color: black;
     display: inline-block;
     text-align: center;
     cursor: pointer;
     font-size: 10px;
     line-height: 16px;
     letter-spacing: 1.5px;
     font-weight: 500;
     text-transform: uppercase;

     background-color: #196ae5;
     padding: 18px 10px;
     font-size: 12px;
     line-height: 24px;
     letter-spacing: 1.25px;
     font-weight: 600;
     color: white;
 }

 .hero-section .heading {
     font-size: 48px;
     line-height: 64px;
     font-weight: 500;
     letter-spacing: 0.25px;
     text-align: center;
 }

 .sign-up-page,
 .sign-in-page {
     width: 700px;
     height: 700px;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
     border-radius: 30px;
 }

 .sign-in-page {
     height: 600px;
 }

 .sign-up-page-container,
 .sign-in-page-container {
     width: 70%;
     height: 80%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }

 .sign-up-page-container .button-container {
     width: 100%;
     height: 15%;
     display: flex;
 }

 .sign-up-page-container .input-feild {
     width: 100%;
     height: 25%;
     display: flex;
     flex-direction: column;
 }

 .sign-up-page-container .input-feild input {
     width: 100%;
     height: 60%;
 }

 .error {
     width: 100%;
     height: 40%;
     color: red;
     display: flex;
     align-items: center;
     background-color: white;
 }

 .sign-in-page-container .button-container {
     width: 100%;
     height: 20%;
     display: flex;
 }

 .sign-in-page-container .input-feild {
     width: 100%;
     height: 25%;
     display: flex;
     flex-direction: column;
 }

 .input-feild {
     background-color: #f4f8f7;
 }

 .input-feild input {
     width: 100%;
     height: 60%;
     border: none;
     background-color: #f4f8f7;
     font-size: x-large;
     padding-left: 10px;
 }

 .button-container {
     justify-content: space-around;
 }

 .button-container button {
     background-color: #196ae5;
     border: none;
     border-radius: 8px;
     padding: 16px 24px;
     display: inline-block;
     text-align: center;
     cursor: pointer;
     font-size: 14px;
     font-size: 18px;
     line-height: 24px;
     letter-spacing: 1.25px;
     font-weight: 600;
     text-transform: uppercase;
     color: white;
 }

 a {
     cursor: pointer;
     color: white;
     text-decoration: none;
     width: 100%;
     height: 100%;
     font-size: large;
 }

 .button-container .navigate-button {
     background-color: #f4f8f7;
     color: black;
 }

 #nameAlert,
 #emailAlert,
 #passwordAlert {
     color: red;
 }

 .product-detail-container {
     padding: 10px;
     padding-left: 50px;
     padding-right: 50px;
     width: 800px;
     height: 50vh;
     width: 100vw;
     height: 90vh;
 }

 .cart-section {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
 }

 .back-div {
     width: 100%;
     height: 10%;
     display: flex;
     justify-content: end;
     align-items: center;
     padding-left: 10px;
 }

 .back-div button {
     border: none;
     cursor: pointer;
     background-color: #196ae5;
     border: none;
     border-radius: 8px;
     padding: 10px 24px;
     color: white;
     display: inline-block;
     text-align: center;
     cursor: pointer;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 1.25px;
     font-weight: 500;
     text-transform: uppercase;
     margin: 10px 0;

 }

 .product-details-div {
     width: 100%;
     height: 90%;
     display: flex;
 }

 .product-details-img {
     width: 30%;
     height: 100%;
     padding: 20px;
 }

 .product-alldetails {
     width: 70%;
     height: 100%;
     padding: 20px;
 }

 .section {
     width: 100%;
     height: 15%;
     display: flex;
     align-items: center;
     font-size: 20px;
     letter-spacing: .25px;
     font-weight: 600;
 }

 .sections {
     width: 100%;
     height: 15%;
     display: flex;
     align-items: center;
     font-size: 18px;
     letter-spacing: .25px;
     font-weight: 600;
 }

 .sections div {
     margin-right: 20px;
 }

 .description {
     width: 100%;
     height: 55%;

     font-size: 10px;
     font-size: 14px;
     line-height: 16px;
     line-height: 21px;
     letter-spacing: 1.5px;
     letter-spacing: .25px;
 }

 .product-alldetails section div button,
 .errorPageButton {
     background-color: #196ae5;
     border: none;
     color: white;
     border-radius: 8px;
     padding: 16px 24px;
     display: inline-block;
     text-align: center;
     cursor: pointer;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 1.25px;
     font-weight: 500;
     text-transform: uppercase;
     margin-bottom: 50px;
 }

 .product-alldetails section div button {
     margin-bottom: 0px;
 }

 .product-detail-container {
     height: 90%;
     width: 100%;
 }

 .cart-container {
     height: 90%;
     width: 600px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 .cart-items {
     height: 70%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     overflow-y: scroll;
 }

 .cart_items_container {
     width: 90%;
     height: 18rem;
     margin: 10px;
     display: flex;
     box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
     border-radius: 8px;
     padding: 5px;
 }

 .cart_items_container .img_container {
     width: 40%;
     height: 100%;
 }

 .cart_items_container .img_container img {
     width: 90%;
     max-height: 100%;
 }

 .cart_items_container .details {
     width: 60%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }

 .cart_items_container .details section {
     width: 100%;
     min-height: 25%;
     display: block;
     font-size: 1.17em;
     font-weight: bold;
 }

 .cart_items_container .details section button {
     background-color: red;
     border: none;
     border-radius: 8px;
     padding: 10px 24px;
     color: white;
     display: inline-block;
     text-align: center;
     cursor: pointer;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 1.25px;
     font-weight: 500;
     text-transform: uppercase;
     margin: 10px 10px;
 }

 .check-out-div {
     height: 20%;
     width: 100%;
     border-radius: 8px;
     padding: 10px;
     box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
 }

 .sub-total {
     width: 100%;
     height: 50%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .check-out-buttton {
     width: 100%;
     height: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .check-out-buttton button {
     width: 100%;
     height: 70%;
     background-color: black;
     border: none;
     color: white;
     border-radius: 8px;
     display: inline-block;
     text-align: center;
     cursor: pointer;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 1.25px;
     font-weight: 500;
     text-transform: uppercase;
 }

 @media only screen and (max-width: 730px) {

     .sign-up-page,
     .sign-in-page {
         width: 90vw;
         height: 100vh;
     }

     .search-bar {
         height: 25%;
         flex-wrap: wrap;
         justify-content: space-around;
     }

     .display-product {
         height: 65%;
     }

     .cart-container {
         width: 90%;
     }
 }

 @media only screen and (max-width: 430px) {
     .navbar {
         padding-left: 10px;
         padding-right: 2px;
     }
 }

 @media only screen and (max-width: 350px) {
     .product-detail-container {
         padding-left: 10px;
         padding-right: 10px;
     }
 }

 @media only screen and (max-width: 650px) {

     .allProductNavBar img,
     .allProductNavBar div {
         width: 30%;
         margin: 0;
         padding: 0;
     }

     .allProductNavBar div button {
         width: 100%;
         margin: 0;
         padding: 0;
     }

     .allProductNavBar {
         margin: 0;
         padding: 0;
         display: flex;
         justify-content: space-between;
     }
 }

 ::-webkit-scrollbar {
     display: none;
 }