* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
   background-color: #f4f8f7;
   box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
}
.navbar button {
   background-color: red;
   border: none;
   border-radius: 8px;
   padding: 10px 24px;
   color: white;
   display: inline-block;
   text-align: center;
   cursor: pointer;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 1.25px;
   font-weight: 500;
   text-transform: uppercase;
   margin: 10px 0;
}

.cart-container {
    height: 90%;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-items {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.check-out-div {
    height: 20%;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
}

.sub-total {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-out-buttton {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-out-buttton button {
    width: 100%;
    height: 70%;
    background-color: black;
    border: none;
    color: white;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
}

.cart_items_container {
    width: 90%;
    height: 18rem;
    margin: 10px;
    display: flex;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 5px;
}

.cart_items_container .img_container {
    width: 40%;
    height: 100%;
}

.cart_items_container .img_container img {
    width: 90%;
    max-height: 100%;
}

.cart_items_container .details {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cart_items_container .details section {
    width: 100%;
    min-height: 25%;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

.cart_items_container .details section button {
    background-color: red;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 10px;
}

@media only screen and (max-width: 730px) {

    .sign-up-page,
    .sign-in-page {
        width: 90vw;
        height: 100vh;
    }

    .search-bar {
        height: 25%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .display-product {
        height: 65%;
    }

    .cart-container {
        width: 90%;
    }
}

@media only screen and (max-width: 430px) {
    .navbar {
        padding-left: 10px;
        padding-right: 2px;
    }
}

::-webkit-scrollbar {
    display: none;
} 