* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f2f2f2;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
    background-color: #f4f8f7;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
}

.navbar button {
    background-color: #f4f8f7;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.add-rating {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_rating_container {
    width: 500px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);

}

.add_rating_container .input-feild {
    width: 70%;
    height: 10%;
}

.add_rating_container .img-feild {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-feild {
    background-color: #f4f8f7;
}

.input-feild input {
    width: 100%;
    height: 60%;
    border: none;
    background-color: #f4f8f7;
    font-size: x-large;
    padding-left: 10px;
}

.button-container {
    justify-content: space-around;
}

.error {
    width: 100%;
    height: 40%;
    color: red;
    display: flex;
    align-items: center;
    background-color: white;
}

.button-container button {
    background-color: #196ae5;
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.errorPageButton {
    background-color: #196ae5;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media only screen and (max-width: 730px) {

    .sign-up-page,
    .sign-in-page {
        width: 90vw;
        height: 100vh;
    }

    .search-bar {
        height: 25%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .display-product {
        height: 65%;
    }

    .cart-container {
        width: 90%;
    }
}

.img-feild img {
    height: 100%
}

@media only screen and (max-width: 540px) {
    .add_rating_container {
        width: 80%;
    }

    .img-feild img {
        width: 80%;
        max-height: 90%;
    }
}

@media only screen and (max-width: 430px) {
    .navbar {
        padding-left: 10px;
        padding-right: 2px;
    }
}

@media only screen and (max-width: 650px) {
    .error_img {
        max-width: 80%
    }

    .hero-section {
        background-color: white;
    }
}