* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
    background-color: #f4f8f7;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
}

.navbar div {
    height: 100%;
}

.navbar button {
    background-color: #f4f8f7;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    /* margin: 10px 0; */
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.product-detail-container {
    padding: 10px;
    /* padding-left: 50px;
    padding-right: 50px; */
    width: 800px;
    height: 50vh;
    height: 90%;
    width: 100%;

}

.product-details-div {
    width: 100%;
    height: 90%;
    display: flex;
}

.product-details-img {
    width: 30%;
    height: 100%;
    padding: 20px;
}

.product-details-img img {
    max-width: 100%;
    max-height: 100%;
}

.product-alldetails {
    width: 70%;
    height: 100%;
    padding: 20px;
}

.product-alldetails section button {
    background-color: #196ae5;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
}

.section {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 20px;
    letter-spacing: .25px;
    font-weight: 600;
}

.sections {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    letter-spacing: .25px;
    font-weight: 600;
}

.sections div {
    margin-right: 20px;
}

.description {
    width: 100%;
    height: 55%;
    height: fit-content;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .25px;
}

.errorPageButton {
    background-color: #196ae5;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media only screen and (max-width: 430px) {
    .navbar {
        padding-left: 10px;
        padding-right: 2px;
    }

    .product-details-div {
        flex-direction: column;
        align-items: center;
    }
    
    .product-alldetails {
        width: 100%;
        height: 70%;
    }
    
    .product-details-img {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 460px) {
    .sections {
        width: 100%;
        min-height: 15%;
        margin: 0px;
        flex-wrap: wrap;
    }
    .description{
        height: fit-content;
    }
    .product-alldetails{
        padding: 0px;
    }

    .abc{
        height: 100px;
    }
}

@media only screen and (max-width: 350px) {
    .product-detail-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}