* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section .heading {
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
}

.sign-in-page {
    width: 700px;
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.sign-in-page-container {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sign-in-page-container .button-container {
    width: 100%;
    height: 15%;
    display: flex;
}

.sign-in-page-container .input-feild {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.sign-in-page-container .input-feild input {
    width: 100%;
    height: 60%;
}

.sign-in-page {
    height: 600px;
}

.input-feild input {
    width: 100%;
    height: 60%;
    border: none;
    background-color: #f4f8f7;
    font-size: x-large;
    padding-left: 10px;
}

.button-container {
    justify-content: space-around;
}

.button-container button {
    background-color: #196ae5;
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.error {
    width: 100%;
    height: 40%;
    color: red;
    display: flex;
    align-items: center;
    background-color: white;
}

@media only screen and (max-width: 730px) {
    .sign-in-page {
        width: 90vw;
        height: 100vh;
    }
}